.entries {
    width: 95%;
    margin: 20px auto 0 auto;
}

.entry  {
    display: flex;
    background-color: #022d46;
    padding: 10px;
    border-radius: 10px;
    max-width: 400px;
    margin: 7px auto;
    color: #ccc;
    align-items: center;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.entry:hover {
    cursor: pointer;
    background-color: #044971;
    color: #eee;
}

.entry .icon {
    height: 26px;
    margin: 5px;
}

.entry .name-symbol {
    margin: 0 auto 0 10px;
}

.entry .symbol {
    width: 70px;
    font-weight: 600;
    font-size: 14px;
    margin-top: -7px;
    color: #aaa;
}

.entry .name {
    font-size: 18px;
}

.entry .change-price {
    text-align: center;
    flex-basis: 140px;
    text-align: right;
    margin-right: 10px;
}

.entry .change {
    margin-top: -5px;
    font-size: 14px;
}

.entry .up {
    color: green;
}

.entry .down {
    color: red;
}

.info_field {
    z-index: 1;
    width: 420px;
    height: 500px;
    border:1px solid #aaa;
    position: fixed;
}