.profile-title {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.forms {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.forms form {
    margin-bottom: 10px;
    background: #022d46;
    width: 350px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
}

.input-group {
    width: 250px;
    margin: 0 auto;
}

.input-group input {
    width: 250px;
}

.topup {
    margin: 10px auto;
    padding: 15px 20px;
    background: #022d46;
    border-radius: 10px;
    max-width: 350px;
}

.topup .title {
    font-size: 18px;
    text-transform: uppercase;
}

.topup .desc {
    color: #777;
    font-size: 14px;
    margin: 10px 0 15px;
}

.topup .topup-btn {
    background-color: #076195;
    width: 140px;
    color: #ccc;
    text-align: center;
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
}

.pass_change {
    padding-top: 25px !important;
    position: relative;
}

.pass_message {
    position: absolute;
    padding: 0 15px;
    font-size: 14px;
    width: 230px;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #692424;
    border-radius: 10px;
    z-index: 3;
    color: #fff;
}

.success {
    background: #127212;
}

.message {
    opacity: 0;
    position: fixed;
    background: #022d46;
    padding: 10px 15px;
    border-radius: 10px;
    width: 300px;
    top: 35vh;
    left: 50%;
    transform: translateX(-50%) scale(0);
    z-index: 2;
    text-align: center;
    transition: transform 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.message .text {
    font-size: 14px;
}

.message .btn {
    background: #076195;
    color: #ccc;
    padding: 8px 20px;
    border: none;
    line-height: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.logout-div {
    width: 100%;
    text-align: center;
}

.logout, .credits {
    color: #d41c1c;
    border-radius: 15px;
    font-weight: 600;
    border: 2px solid #d41c1c;
    margin: 20px 0 0;
}

.logout:hover {
    background-color: #d41c1c;
    color: #ccc;
}

.sub-info {
    text-align: center;
}

.version {
    color: #555;
    margin: 30px 0 10px;
}

.credits {
    color: #777;
    border: 2px solid #777;
    width: 100px;
    margin-top: 10px;
}

.credits:hover {
    color: #ccc;
    border: 2px solid #ccc;
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
    .profile-title {
        margin-top: 100px;
        font-size: 22px;
    }

    .forms {
        flex-direction: row;
    }

    .topup {
        margin-top: 50px;
    }
}