@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

body {
    background-color: #012235;
    color: #aaa;
    position: relative;
    margin-bottom: 90px;
}

a, a:hover {
    text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0px solid #ccc;
  border-bottom: 2px solid #ccc;
  -webkit-text-fill-color: #ccc;
  -webkit-box-shadow: 0 0 0px 1000px #0000 inset;
  box-shadow: 0 0 0px 1000px #0000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

nav {
    width: 100%;
}

.desktop-nav {
    background-color: #000a;
    width: 100%;
    display: none;
    justify-content: center;
    position: fixed;
    backdrop-filter: blur(5px);
    z-index: 10;
}

.desktop-nav .menu-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    padding: 10px 20px;
}

.desktop-nav .brand {
    color: #ccc;
    display: flex;
}

.desktop-nav .logo {
    height: 50px;
}

.desktop-nav .brand-title {
    font-family: Goldman, sans-serif;
    font-size: 30px;
    margin-left: 10px;
}

.desktop-nav .menu * {
    margin: 0 5px;
    padding: 5px;
    font-size: 20px;
    color: #ccc;
}

.desktop-nav .menu *:hover {
    color: #fff;
}

.mobile-nav {
    width: 100%;
    text-align: center;
}

.mobile-nav .logo {
    height: 50px;
    margin-top: 10px;
}

.mobile-nav .page-title {
    font-family: 'Goldman', cursive;
    text-align: center;
    display: none;
}

.mobile-nav .menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #000a;
    z-index: 3;
    backdrop-filter: blur(5px);
    text-align: center;
    padding: 10px 0;
}

.mobile-nav .menu a {
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: #888;
    text-shadow: 2px 2px 2px #000;
}

.active {
    color: #fff !important;
}

.mobile-nav .menu i {
    font-size: 20px;
}

.mobile-nav .menu .text {
    text-align: center;
    border-radius: 5px;
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0008;
    z-index: 1;
    height: 100vh;
    overflow-y: hidden;
}

.input-group input {
    width: 200px;
    padding: 15px 10px 0;
    border: none;
    margin: 5px 0;
    background: none;
    border-bottom: 2px solid #aaa;
    color: #aaa
}


.input-group input:focus {
    outline: none;
}

.input-group label {
    position: absolute;
    left: 5px;
    top: 20px;
    color: #777;
    pointer-events: none;
    transition: 300ms ease-out;
}

/* Input group settings */
.input-group input:focus {
    outline: none;
    border-bottom-color: #06a;
}
  
.input-group input:focus ~ label {
    top: 5px;
    left: 5px;
    font-size: 12px;
    color: #06a;
    font-weight: 700;
}
  
.input-group input:valid ~ label {
    top: 5px;
    left: 5px;
    font-size: 12px;
    color: #06a;
    font-weight: 700;
}

.submit {
    margin-top: 10px;
    padding: 5px 20px;
    background:#044971;
    color: #ccc;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

/* Entry loading animation */
.loading-div {
    max-width: 400px;
    margin: 100px auto 0 auto;
}

.loading {
    position: relative;
    width: 56px;
    height: 60px;
    margin: 0 auto 0 auto;
}

.loading div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 8px;
    background: #999;
    animation: loading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loading div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.loading div:nth-child(2) {
    left: 24px;
    animation-delay: -0.12s;
}
.loading div:nth-child(3) {
    left: 40px;
    animation-delay: 0;
}

@keyframes loading {
    0% {
        top: 5px;
        height: 50px;
    }
    50%, 100% {
        top: 20px;
        height: 20px;
    }
}

/* Backdrop filter support */
@supports not (backdrop-filter: blur(5px)) {
    .menu {
        background: #010a13e8;

    }
}

@media screen and (min-width: 400px) {
    .asset_profile {
        width: 390px;
    }
}

@media screen and (min-width: 480px) {
    .asset_profile {
        width: 470px;
    }
    .info .resources a {
        flex-basis: 33%;
    }
}

@media screen and (min-width: 560px) {
    .asset_profile {
        width: 550px;
    }

    .info .resources a {
        flex-basis: 33%;
    }
}

@media screen and (min-width: 768px) {
    html, body {
        overflow: auto;
    }

    body {
        margin-bottom: 30px;
        padding-bottom: 10px;
    }

    .mobile-nav {
        display: none;
    }

    .desktop-nav {
        display: flex;
    }
}