body {
    padding: 5px;
    background-color: #012235;
    color: #aaa;
}

a {
    text-decoration: none;
}

.page-title {
    text-align: center;
    font-size: 26px;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin: 20px auto 0 auto;
}

.menu a {
    padding: 5px;
    width: 80px;
    text-align: center;
    border: 2px solid #aaa;
    border-radius: 5px;
    color: #aaa;
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0008;
    z-index: 1;
    height: 100vh;
    overflow-y: hidden;
}

/* Entry loading animation */
.loading-div {
    max-width: 400px;
    margin: 0 auto 0 auto;
}

.loading {
    position: relative;
    width: 56px;
    height: 60px;
    margin: 0 auto 0 auto;
}

.loading div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 8px;
    background: #999;
    animation: loading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loading div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.loading div:nth-child(2) {
    left: 24px;
    animation-delay: -0.12s;
}
.loading div:nth-child(3) {
    left: 40px;
    animation-delay: 0;
}

@keyframes loading {
    0% {
        top: 5px;
        height: 50px;
    }
    50%, 100% {
        top: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 400px) {
    .asset_profile {
        width: 390px;
    }
}

@media screen and (min-width: 480px) {
    .asset_profile {
        width: 470px;
    }
    .info .resources a {
        flex-basis: 33%;
    }
}

@media screen and (min-width: 560px) {
    .asset_profile {
        width: 550px;
    }

    .info .resources a {
        flex-basis: 33%;
    }
}