@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

html, body {
    overflow: auto;
}

body {
    background-color: #012235;
    color: #aaa;
    position: relative;
    margin-bottom: 70px;
}

a {
    text-decoration: none;
}

.logo-div {
    width: 100%;
    text-align: center;
}

.logo {
    height: 50px;
    margin-top: 10px;
}

.page-title {
    font-family: 'Goldman', cursive;
    text-align: center;
    display: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #000a;
    z-index: 3;
    backdrop-filter: blur(5px);
    text-align: center;
    padding-top: 10px;
}

.menu a {
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: #888;
    text-shadow: 2px 2px 2px #000;
}

.menu i {
    font-size: 20px;
}

.menu .text {
    text-align: center;
    border-radius: 5px;
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0008;
    z-index: 1;
    height: 100vh;
    overflow-y: hidden;
}

/* Entry loading animation */
.loading-div {
    max-width: 400px;
    margin: 0 auto 0 auto;
}

.loading {
    position: relative;
    width: 56px;
    height: 60px;
    margin: 0 auto 0 auto;
}

.loading div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 8px;
    background: #999;
    animation: loading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loading div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.loading div:nth-child(2) {
    left: 24px;
    animation-delay: -0.12s;
}
.loading div:nth-child(3) {
    left: 40px;
    animation-delay: 0;
}

@keyframes loading {
    0% {
        top: 5px;
        height: 50px;
    }
    50%, 100% {
        top: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 400px) {
    .asset_profile {
        width: 390px;
    }
}

@media screen and (min-width: 480px) {
    .asset_profile {
        width: 470px;
    }
    .info .resources a {
        flex-basis: 33%;
    }
}

@media screen and (min-width: 560px) {
    .asset_profile {
        width: 550px;
    }

    .info .resources a {
        flex-basis: 33%;
    }
}

@supports not (backdrop-filter: blur(5px)) {
    .menu {
        background: #010a13e8;

    }
  }