{% extends 'layout.html' %}
{% load static %}

{% block body %}
    <div class="asset_profile" hidden>
        <div class="head">
            <div>
                <div class="name"></div>
                <div class="symbol"></div>
            </div>
            <div class="price"></div>
        </div>
        <div class="chart">
            <canvas id="myChart"></canvas>
        </div>
        <div class="info">
            <!-- <div class="tagline"></div> -->
            <div class="overview" hidden>
                <div class="title">Overview</div>
                <div class="text"></div>
            </div>
            <div class="resources">
                <div class="title">Official links</div>
            </div>
            <div class="market-stats">
                <div class="title">Market stats</div>
                <div class="stats">
                    <div class="market-cap">
                        <div class="icon">
                            <i class="fas fa-chart-line"></i>
                        </div>
                        <div>
                            <div class="stats-title">MARKET CAP</div>
                            <div class="value"></div>
                        </div>
                    </div>
                    <div class="volume">
                        <div class="icon">
                            <i class="fas fa-chart-bar"></i>
                        </div>
                        <div>
                            <div class="stats-title">Volume 24h</div>
                            <div class=value></div>
                        </div>
                    </div>
                    <div class="supply">
                        <div class="icon">
                            <i class="fas fa-chart-pie"></i>
                        </div>
                        <div>
                            <div class="stats-title">Circulating supply</div>
                            <div class="value"></div>
                        </div>
                    </div>
                    <div class="high">
                        <div class="icon">
                            <i class="fas fa-star"></i>
                        </div>
                        <div>
                            <div class="stats-title">All time high</div>
                            <div class="value"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loading-div">
        <div class="loading"><div></div><div></div><div></div></div>
    </div>
{% endblock body %}

{% block script %}
    <script src="{% static 'script/chart.js-3.5.0/dist/chart.min.js' %}"></script>
    <script src="{% static 'script/info.js' %}"></script>
{% endblock script %}