{% extends 'layout.html' %}
{% load static %}

{% block body %}
    <div class="asset_profile" hidden>
        <div class="head">
            <div class="symbol"></div>
            <div class="name"></div>
        </div>
        <div class="chart"></div>
        <div class="info">
            <div class="tagline"></div>
            <div class="overview">
                <div class="title">Overview</div>
                <p class="text"></p>
            </div>
            <div class="resources">
                <div class="title">Official links</div>
            </div>
        </div>
    </div>
    <div class="loading-div">
        <div class="loading"><div></div><div></div><div></div></div>
    </div>
{% endblock body %}

{% block script %}
    <script src="{% static 'script/info.js' %}"></script>
{% endblock script %}