{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" /> -->
        
        <link rel="stylesheet" href="{% static 'css/bootstrap-5.0.2/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fa/css/all.css' %}">
        <title>Cryptogram</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
        <link href="{% static 'favicon.png' %}" rel="icon" type="image/png">
        {% block style %}
        {% endblock style %}
    </head>
    <body>
        <nav>
            <div class="desktop-nav">
                <div class="menu-area">
                    <a href="{% url 'index' %}" class="brand">
                        <img class="logo" src="{% static 'cg-logo.png' %}" alt="">
                        <div class=brand-title>Cryptogram</div>
                    </a>
                    <div class="menu">
                        {% if user.is_authenticated %}
                            <a href="{% url 'index' %}" class=home>Home</a>
                            <a href="{% url 'portfolio' %}" class=portfolio>Portfolio</a>
                            <a href="{% url 'profile' %}" class=profile>Profile</a>
                        {% else %}
                            <a href="#" onclick="loginSelect()">Login</a>
                            <a href="#" onclick="registerSelect()">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="mobile-nav">
                <a href="{% url 'index' %}" class="brand">
                    <img class="logo" src="{% static 'cg-logo.png' %}" alt="">
                </a>
                <div class=page-title>Cryptogram</div>
                {% if user.is_authenticated %}
                    <div class="menu">
                        <a href="{% url 'index' %}" class=home>
                            <i class="fas fa-home"></i>
                            <div class="text">Home</div>
                        </a>
                        <a href="{% url 'portfolio' %}" class=portfolio>
                            <i class="fas fa-suitcase"></i>
                            <div class="text">Portfolio</div>
                        </a>
                        <a href="{% url 'profile' %}" class=profile>
                            <i class="fas fa-user"></i>
                            <div class="text">Profile</div>
                        </a>
                    </div>
                {% endif %}
            </div>
        </nav>
        {% block body %}
        {% endblock body %}
        
        <script src="{% static 'script/script.js' %}"></script>
        {% block script %}
        {% endblock script %}
    </body>
</html>