{% extends 'layout.html' %}

{% block body %}
    <div class="login">
        <h4>Login</h4>
        <form action="{% url 'login' %}" method=POST>
            {% csrf_token %}
            {{ userForm.as_p }}
            <input type="submit" value="Login">
        </form>
    </div>
    <div class=register>
        <h4>Register</h4>
        <form action="/register" method=POST>
            {% csrf_token %}
            {{ userForm.as_p }}
            <p>
                <label for="confirm">Repeat password: </label>
                <input type="password" name="confirmation" id=confirm>
            </p>
            <input type="submit" value="Register">
        </form>
    </div>
{% endblock body %}