{% extends 'layout.html' %}
{% load static %}

{% block style %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock style %}

{% block body %}
    <div class="forms">
        <div class=title><i class="fas fa-user-circle"></i> {{ user }} info</div>
        <form action="/profile" method=POST>
            {% csrf_token %}
            <div class="input-group">
                {{ p_form.first_name }}
                <label>First name</label>
            </div>
            <div class="input-group">
                {{ p_form.last_name }}
                <label>Last name</label>
            </div>
            <div class="input-group">
                {{ p_form.email }}
                <label>Email address</label>
            </div>
            <input type="submit" class=submit value="Update profile">
        </form>
        
        <form action="/password_change" method="POST" class=pass_change>
            <div class="pass_message"></div>
            {% csrf_token %}
            <div class=input-group>
                <input type="password" name=password required>
                <label>Current password</label>
            </div>
            <div class=input-group>
                <input type="password" name=new_pass required>
                <label>New password</label>
            </div>
            <div class=input-group>
                <input type="password" name=confirmation required>
                <label>Re-enter new password</label>
            </div>
            <input type="submit" value="Change password" class=submit>
        </form>
    </div>
    
     <div class="topup">
         <div class="title">Top-up your account by $10,000</div>
         <div class="desc">You are only allowed to top-up when your cash balance are below $1,000</div>
         <div class="topup-btn">Top-up</div>
     </div>

     <div class="message">
         <div class="text"></div>
         <div class="btn">OK</div>
     </div>

     <div class="backdrop"></div>

     <div class="logout-div">
        <a href="{% url 'logout' %}" class="logout btn">Logout</a>
    </div>
{% endblock body %}

{% block script %}
    <script src="{% static 'script/profile.js' %}"></script>
{% endblock script %}